
.name {
    font-size: 40px;
    
}

.header {
    line-height: 1.3;
    
}

.subhead { 
    font-size: 30px;
    font-weight: 550;
    line-height: 1.8;
    margin-bottom: 2;
}

.means {

    font: small-caps bold 24px/1.2 Arial;
    line-height: 1.8;
    padding-left: 7px;
    color: #225cb3;

}

.contact-head {

    list-style-type: square;
    font-size: 1.1em;

}

.Linkgit {
    text-decoration: none;
    color: black;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #eaecef;
    color: #1d262d;
}

.date {
    font-weight: bold;
    font-size: 1.1em;
}


.experience {
   letter-spacing: normal;

}

.text {
    letter-spacing: 0.5px;
    line-height: 1.5;
}

h2 {
    color: #225cb3;
}

.Uni {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 0.5;
}

.language {
    font-weight: bold;
}

.about { 
    font-weight: 550;

}

.brackets {
    color: #225cb3;
    font-weight: 700;
    font-size: 1.2em;
}

.main {
    display: flex;
    justify-content: flex-start;
}

.maininfo {
    will-change: 700px;
}

.year {
    text-align: center;
    color:#225cb3;
    line-height: -0.5;
    font-weight: 700;

}

.contacts {
    background-color: #225cb3;
    color: #eaecef;
    
}

.logo {height: 10px;}

.head-table {
    display: flex;
    justify-content: space-around;
}